[2017-08-18 13:31] joaomneto opened #1 "Adventure creation validation"
In gitlab by @joao.m.neto on Mar 9, 2017, 20:43

Since all parameters of the adventure creation are mandatory, they must be validated when pressing the save button.

[2017-08-18 13:31] joaomneto commented on #1
In gitlab by @joao.m.neto on Mar 10, 2017, 22:15

added ~1567093 label

[2017-08-18 13:31] joaomneto commented on #1
In gitlab by @joao.m.neto on Apr 19, 2017, 11:39

mentioned in merge request !5

[2017-08-18 13:31] joaomneto commented on #1
In gitlab by @joao.m.neto on Apr 19, 2017, 11:40

closed via commit aa82057aa9c35a5c174d317a57def8646c949118

[2017-08-18 13:31] joaomneto commented on #1
In gitlab by @joao.m.neto on Apr 19, 2017, 11:40

closed via merge request !5

[2017-08-18 13:31] #1 closed

[2017-08-18 13:31] joaomneto opened #2 "Notes using more than one line"
In gitlab by @joao.m.neto on Mar 9, 2017, 20:49

Notes using more than one line don't work at the moment

[2017-08-18 13:31] joaomneto commented on #2
In gitlab by @joao.m.neto on Mar 9, 2017, 20:50

changed title from **Notes {-wor-}** to **Notes {+using more than one line+}**

[2017-08-18 13:31] joaomneto commented on #2
In gitlab by @joao.m.neto on Mar 9, 2017, 20:50

assigned to @joao.m.neto

[2017-08-18 13:31] joaomneto commented on #2
In gitlab by @joao.m.neto on Mar 10, 2017, 22:15

added ~1567093 label

[2017-08-18 13:31] joaomneto commented on #2
In gitlab by @joao.m.neto on Apr 18, 2017, 17:52

created branch [`2-notes-using-more-than-one-line`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...2-notes-using-more-than-one-line)

[2017-08-18 13:31] joaomneto commented on #2
In gitlab by @joao.m.neto on Apr 19, 2017, 11:39

mentioned in merge request !5

[2017-08-18 13:31] joaomneto commented on #2
In gitlab by @joao.m.neto on Apr 19, 2017, 11:40

closed via merge request !5

[2017-08-18 13:31] #2 closed

[2017-08-18 13:31] joaomneto opened #3 "Shield"
In gitlab by @joao.m.neto on Mar 9, 2017, 20:51

There is a shield that modifies the combat rules. This should be added to the specific combat rules.

[2017-08-18 13:31] joaomneto commented on #3
In gitlab by @joao.m.neto on Mar 10, 2017, 22:15

added ~1567093 label

[2017-08-18 13:31] joaomneto commented on #3
In gitlab by @joao.m.neto on Mar 14, 2017, 14:07

changed title from **{-TWOFM: -}Shield** to **Shield**

[2017-08-18 13:31] joaomneto commented on #3
In gitlab by @joao.m.neto on Aug 8, 2017, 13:04

added ~1567095 and removed ~1567093 labels

[2017-08-18 13:31] joaomneto opened #4 "Add Map fragment"
In gitlab by @joao.m.neto on Mar 10, 2017, 22:14

Add map fragment to every gamebook via canvas screen, except maybe for Scorpion Swamp which has it's special map screen.

[2017-08-18 13:31] joaomneto commented on #4
In gitlab by @joao.m.neto on Aug 12, 2017, 15:16

created branch [`4-add-map-fragment`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...4-add-map-fragment)

[2017-08-18 13:31] joaomneto commented on #4
In gitlab by @joao.m.neto on Aug 12, 2017, 15:23

assigned to @joao.m.neto

[2017-08-18 13:31] joaomneto opened #5 "Add translation to Portuguese"
In gitlab by @joao.m.neto on Mar 10, 2017, 22:14

Add translation to portuguese for all text in the app

[2017-08-18 13:31] joaomneto commented on #5
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:31] joaomneto commented on #5
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

removed ~1706072 label

[2017-08-18 13:31] joaomneto commented on #5
In gitlab by @joao.m.neto on Apr 20, 2017, 18:35

created branch [`5-add-translation-to-portuguese`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...5-add-translation-to-portuguese)

[2017-08-18 13:31] joaomneto commented on #5
In gitlab by @joao.m.neto on May 26, 2017, 14:54

mentioned in merge request !9

[2017-08-18 13:31] joaomneto commented on #5
In gitlab by @joao.m.neto on May 26, 2017, 22:14

mentioned in merge request !10

[2017-08-18 13:31] joaomneto commented on #5
In gitlab by @joao.m.neto on May 26, 2017, 22:15

closed via merge request !10

[2017-08-18 13:31] #5 closed

[2017-08-18 13:31] joaomneto opened #6 "Add settings screen"
In gitlab by @joao.m.neto on Mar 10, 2017, 22:15

Add settings screen with some options to be modified (save game directory, language, etc)

[2017-08-18 13:32] joaomneto commented on #6
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:32] joaomneto commented on #6
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

removed ~1706072 label

[2017-08-18 13:32] joaomneto commented on #6
In gitlab by @joao.m.neto on Jul 26, 2017, 15:07

closed

[2017-08-18 13:32] #6 closed

[2017-08-18 13:32] joaomneto opened #7 "Standard Combat messages"
In gitlab by @joao.m.neto on Mar 14, 2017, 14:08

In the combat status messages  there are dice roll toStrings badly formatted

[2017-08-18 13:32] joaomneto commented on #7
In gitlab by @joao.m.neto on May 30, 2017, 16:17

closed

[2017-08-18 13:32] #7 closed

[2017-08-18 13:32] joaomneto opened #8 "Spells screen"
In gitlab by @joao.m.neto on Mar 14, 2017, 14:14

The spells screen in the adventure creation should be better formatted to distinguish the two scroll panels.

[2017-08-18 13:32] joaomneto commented on #8
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:32] joaomneto commented on #8
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

removed ~1706072 label

[2017-08-18 13:32] joaomneto commented on #8
In gitlab by @joao.m.neto on May 30, 2017, 16:17

closed

[2017-08-18 13:32] #8 closed

[2017-08-18 13:32] joaomneto opened #9 "Add support for Robot Commando"
In gitlab by @joao.m.neto on Mar 17, 2017, 09:22

Add support for Robot Commando

[2017-08-18 13:32] joaomneto commented on #9
In gitlab by @joao.m.neto on Mar 17, 2017, 09:34

added ~1705626 label

[2017-08-18 13:32] joaomneto commented on #9
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:32] joaomneto commented on #9
In gitlab by @joao.m.neto on Mar 18, 2017, 11:28

created branch [`9-add-support-for-robot-commando`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...9-add-support-for-robot-commando)

[2017-08-18 13:32] joaomneto commented on #9
In gitlab by @joao.m.neto on Mar 25, 2017, 23:00

assigned to @joao.m.neto

[2017-08-18 13:32] joaomneto commented on #9
In gitlab by @joao.m.neto on Apr 18, 2017, 17:42

mentioned in merge request !4

[2017-08-18 13:32] joaomneto commented on #9
In gitlab by @joao.m.neto on Apr 18, 2017, 17:43

closed via commit 6788e82780e4fbf0cdcab5237d659e18fc4cf3ec

[2017-08-18 13:32] #9 closed

[2017-08-18 13:32] joaomneto opened #10 "Add Support to Beneath Nightmare Castle"
In gitlab by @joao.m.neto on Mar 17, 2017, 09:23

Add Support to Beneath Nightmare Castle

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on Mar 17, 2017, 09:34

added ~1705626 label

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on Mar 17, 2017, 09:34

added ~1705627 and removed ~1705626 labels

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on Apr 19, 2017, 12:05

created branch [`10-add-support-to-beneath-nightmare-castle`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...10-add-support-to-beneath-nightmare-castle)

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on Apr 25, 2017, 19:25

mentioned in merge request !7

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on Apr 25, 2017, 19:26

closed via commit 6112efd740d5ae567dd7755d789a894584422b94

[2017-08-18 13:32] joaomneto commented on #10
In gitlab by @joao.m.neto on May 3, 2017, 15:48

mentioned in commit 6112efd740d5ae567dd7755d789a894584422b94

[2017-08-18 13:32] #10 closed

[2017-08-18 13:32] joaomneto opened #11 "Add Support to Crypt of the Sorcerer"
In gitlab by @joao.m.neto on Mar 17, 2017, 09:33

Add Support to Crypt of the Sorcerer

[2017-08-18 13:32] joaomneto commented on #11
In gitlab by @joao.m.neto on Mar 17, 2017, 09:34

added ~1705683 label

[2017-08-18 13:32] joaomneto commented on #11
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:32] joaomneto commented on #11
In gitlab by @joao.m.neto on May 30, 2017, 16:18

created branch [`11-add-support-to-crypt-of-the-sorcerer`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...11-add-support-to-crypt-of-the-sorcerer)

[2017-08-18 13:32] joaomneto commented on #11
In gitlab by @joao.m.neto on May 30, 2017, 16:44

mentioned in merge request !11

[2017-08-18 13:32] joaomneto commented on #11
In gitlab by @joao.m.neto on May 30, 2017, 16:44

closed via commit 783e11be04f9b1a17c10efa71231466b1d3e7962

[2017-08-18 13:32] joaomneto commented on #11
In gitlab by @joao.m.neto on May 30, 2017, 16:44

closed via merge request !11

[2017-08-18 13:32] #11 closed

[2017-08-18 13:32] joaomneto opened #12 "Add Support to Star Strider"
In gitlab by @joao.m.neto on Mar 17, 2017, 09:35

Add Support to Star Strider

[2017-08-18 13:33] joaomneto commented on #12
In gitlab by @joao.m.neto on Mar 17, 2017, 09:35

created branch [`12-add-support-to-star-strider`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...12-add-support-to-star-strider)

[2017-08-18 13:33] joaomneto commented on #12
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:33] joaomneto commented on #12
In gitlab by @joao.m.neto on May 30, 2017, 16:44

created branch [`12-add-support-to-star-strider`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...12-add-support-to-star-strider)

[2017-08-18 13:33] joaomneto commented on #12
In gitlab by @joao.m.neto on Jul 5, 2017, 15:50

mentioned in merge request !12

[2017-08-18 13:33] #12 closed

[2017-08-18 13:44] joaomneto opened #13 "Add Support to Phantoms of Fear"
In gitlab by @joao.m.neto on Mar 17, 2017, 09:35

Add Support to Phantoms of Fear

[2017-08-18 13:44] joaomneto commented on #13
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:44] joaomneto commented on #13
In gitlab by @joao.m.neto on Jul 5, 2017, 20:53

created branch [`13-add-support-to-phantoms-of-fear`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...13-add-support-to-phantoms-of-fear)

[2017-08-18 13:44] joaomneto commented on #13
In gitlab by @joao.m.neto on Jul 6, 2017, 22:59

mentioned in merge request !13

[2017-08-18 13:44] joaomneto commented on #13
In gitlab by @joao.m.neto on Jul 6, 2017, 23:00

closed via commit 5111d21eb7a71a2faea102570d136a29924c4717

[2017-08-18 13:44] joaomneto commented on #13
In gitlab by @joao.m.neto on Jul 6, 2017, 23:00

closed via merge request !13

[2017-08-18 13:44] #13 closed

[2017-08-18 13:44] joaomneto opened #14 "Add Support to Midnight Rogue"
In gitlab by @joao.m.neto on Mar 17, 2017, 09:35

Add Support to Midnight Rogue

[2017-08-18 13:45] joaomneto commented on #14
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto commented on #14
In gitlab by @joao.m.neto on Jul 6, 2017, 23:02

created branch [`14-add-support-to-midnight-rogue`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...14-add-support-to-midnight-rogue)

[2017-08-18 13:45] joaomneto opened #15 "Add Support to Chasms of Malice"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:52

Add Support to Chasms of Malice

[2017-08-18 13:45] joaomneto commented on #15
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #16 "Add Support to Battleblade Warrior"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:52

Add Support to Battleblade Warrior

[2017-08-18 13:45] joaomneto commented on #16
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #17 "Add Support to Slaves of the Abyss"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:52

Add Support to Slaves of the Abyss

[2017-08-18 13:45] joaomneto commented on #17
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #18 "Add Support to Sky Lord"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:53

Add Support to Sky Lord

[2017-08-18 13:45] joaomneto commented on #18
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #19 "Add Support to Stealer of Souls"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:55

Add Support to Stealer of Souls

[2017-08-18 13:45] joaomneto commented on #19
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #20 "Add Support to Daggers of Darkness"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:56

Add Support to Daggers of Darkness

[2017-08-18 13:45] joaomneto commented on #20
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #21 "Add Support to Armies of Death"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:56

Add Support to Armies of Death

[2017-08-18 13:45] joaomneto commented on #21
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto commented on #21
In gitlab by @joao.m.neto on Apr 25, 2017, 22:26

created branch [`21-add-support-to-armies-of-death`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...21-add-support-to-armies-of-death)

[2017-08-18 13:45] joaomneto commented on #21
In gitlab by @joao.m.neto on May 3, 2017, 15:22

mentioned in merge request !8

[2017-08-18 13:45] joaomneto commented on #21
In gitlab by @joao.m.neto on May 3, 2017, 15:22

closed via merge request !8

[2017-08-18 13:45] joaomneto commented on #21
In gitlab by @joao.m.neto on May 3, 2017, 15:49

mentioned in commit 40f49f02aa869071703f91bfde34da70b3c11985

[2017-08-18 13:45] #21 closed

[2017-08-18 13:45] joaomneto opened #22 "Add Support to Portal of Evil"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:58

Add Support to Portal of Evil

[2017-08-18 13:45] joaomneto commented on #22
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #23 "Add Support to Vault of the Vampire"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:58

Add Support to Vault of the Vampire

[2017-08-18 13:45] joaomneto opened #24 "Add Support to Fangs of Fury"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:58

Add Support to Fangs of Fury

[2017-08-18 13:45] joaomneto opened #25 "Add Support to Dead of Night"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:59

Add Support to Dead of Night

[2017-08-18 13:45] joaomneto commented on #25
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:45] joaomneto opened #26 "Add Support to Master of Chaos"
In gitlab by @joao.m.neto on Mar 17, 2017, 10:59

Add Support to Master of Chaos

[2017-08-18 13:45] joaomneto commented on #26
In gitlab by @joao.m.neto on Aug 8, 2017, 13:04

added ~1567095 ~1706072 labels

[2017-08-18 13:45] joaomneto opened #27 "Add Support to Black Vein Prophecy"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:00

Add Support to Black Vein Prophecy

[2017-08-18 13:46] joaomneto commented on #27
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #28 "Add Support to The Keep of the Lich Lord"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:00

Add Support to The Keep of the Lich Lord

[2017-08-18 13:46] joaomneto commented on #28
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #29 "Add Support to Legend of the Shadow Warriors"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:00

Add Support to Legend of the Shadow Warriors

[2017-08-18 13:46] joaomneto commented on #29
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #30 "Add Support to Spectral Stalkers"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:00

Add Support to Spectral Stalkers

[2017-08-18 13:46] joaomneto commented on #30
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #31 "Add Support to Tower of Destruction"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:01

Add Support to Tower of Destruction

[2017-08-18 13:46] joaomneto commented on #31
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #32 "Add Support to The Crimson Tide"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:01

Add Support to The Crimson Tide

[2017-08-18 13:46] joaomneto commented on #32
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #33 "Add Support to Moonrunner"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:01

Add Support to Moonrunner

[2017-08-18 13:46] joaomneto commented on #33
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #34 "Add Support to Siege of Sardath"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:01

Add Support to Siege of Sardath

[2017-08-18 13:46] joaomneto commented on #34
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #35 "Add Support to Return to Firetop Mountain"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:01

Add Support to Return to Firetop Mountain

[2017-08-18 13:46] joaomneto commented on #35
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #36 "Add Support to Island of the Undead"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:01

Add Support to Island of the Undead

[2017-08-18 13:46] joaomneto commented on #36
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #37 "Add Support to Night Dragon"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:02

Add Support to Night Dragon

[2017-08-18 13:46] joaomneto commented on #37
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #38 "Add Support to Spellbreaker"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:02

Add Support to Spellbreaker

[2017-08-18 13:46] joaomneto commented on #38
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #39 "Add Support to Legend of Zagor"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:02

Add Support to Legend of Zagor

[2017-08-18 13:46] joaomneto commented on #39
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #40 "Add Support to Deathmoor"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:02

Add Support to Deathmoor

[2017-08-18 13:46] joaomneto commented on #40
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #41 "Add Support to Knights of Doom"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:02

Add Support to Knights of Doom

[2017-08-18 13:46] joaomneto commented on #41
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #42 "Add Support to Magehunter"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:02

Add Support to Magehunter

[2017-08-18 13:46] joaomneto commented on #42
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #43 "Add Support to Revenge of the Vampire"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:03

Add Support to Revenge of the Vampire

[2017-08-18 13:46] joaomneto commented on #43
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:46] joaomneto opened #44 "Add Support to Curse of the Mummy"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:03

Add Support to Curse of the Mummy

[2017-08-18 13:47] joaomneto commented on #44
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:47] joaomneto opened #45 "Add Support to Bloodbones"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:03

Add Support to Bloodbones

[2017-08-18 13:47] joaomneto commented on #45
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:47] joaomneto opened #46 "Add Support to Blood of the Zombies"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:03

Add Support to Blood of the Zombies

[2017-08-18 13:47] joaomneto commented on #46
In gitlab by @joao.m.neto on Mar 17, 2017, 11:05

added ~1706072 label

[2017-08-18 13:47] joaomneto opened #47 "Add Support to Howl of the Werewolf"
In gitlab by @joao.m.neto on Mar 17, 2017, 11:08

Add Support to Howl of the Werewolf

[2017-08-18 13:47] joaomneto commented on #47
In gitlab by @joao.m.neto on Mar 21, 2017, 16:06

added ~1706072 label

[2017-08-18 13:47] joaomneto opened #48 "Add mapping freehand screen"
In gitlab by @joao.m.neto on Mar 30, 2017, 16:15

Add a canvas screen to allow a player to map it's way through the gamebook in freehand style, like using pen and paper.

[2017-08-18 13:47] joaomneto commented on #48
In gitlab by @joao.m.neto on Apr 20, 2017, 18:33

added ~1567095 label

[2017-08-18 13:47] joaomneto commented on #48
In gitlab by @joao.m.neto on Aug 12, 2017, 15:23

closed

[2017-08-18 13:47] #48 closed

[2017-08-18 13:47] joaomneto opened #49 "Allow modification of initial stats values"
In gitlab by @joao.m.neto on Apr 19, 2017, 18:20

Via press and hold of the number in question

[2017-08-18 13:47] joaomneto commented on #49
In gitlab by @joao.m.neto on Apr 20, 2017, 18:34

added ~1567095 label

[2017-08-18 13:47] joaomneto commented on #49
In gitlab by @joao.m.neto on Aug 8, 2017, 13:00

closed

[2017-08-18 13:47] #49 closed

[2017-08-18 13:47] joaomneto opened #50 "Test Luck in robot combat"
In gitlab by @joao.m.neto on Apr 20, 2017, 17:36

[2017-08-18 13:47] joaomneto commented on #50
In gitlab by @joao.m.neto on Apr 20, 2017, 18:34

added ~1567095 label

[2017-08-18 13:47] joaomneto commented on #50
In gitlab by @joao.m.neto on Apr 20, 2017, 18:34

added ~1705626 label

[2017-08-18 13:47] joaomneto commented on #50
In gitlab by @joao.m.neto on Aug 11, 2017, 11:27

closed

[2017-08-18 13:47] #50 closed

[2017-08-18 13:47] joaomneto opened #51 "Swipe left in combat mode resets the layout"
In gitlab by @joao.m.neto on Apr 20, 2017, 17:36

[2017-08-18 13:47] joaomneto commented on #51
In gitlab by @joao.m.neto on Apr 20, 2017, 18:34

added ~1705626 label

[2017-08-18 13:47] joaomneto commented on #51
In gitlab by @joao.m.neto on Apr 20, 2017, 18:34

added ~1567093 label

[2017-08-18 13:47] joaomneto commented on #51
In gitlab by @joao.m.neto on Aug 11, 2017, 11:27

closed

[2017-08-18 13:47] #51 closed

[2017-08-18 13:47] joaomneto opened #52 "Enhancement request: missing French translation"
In gitlab by @sebhz on Jul 18, 2017, 09:09

FF was pretty famous in France in the 80's - so a French translation would be great. I'll be glad to add it if you grant me access to the project!

[2017-08-18 13:47] joaomneto commented on #52
In gitlab by @joao.m.neto on Jul 26, 2017, 15:06

assigned to @sebhz

[2017-08-18 13:47] joaomneto commented on #52
In gitlab by @sebhz on Jul 31, 2017, 19:08

mentioned in merge request !14

[2017-08-18 13:47] joaomneto commented on #52
In gitlab by @joao.m.neto on Aug 3, 2017, 15:39

closed via commit 833661114cfee86a5c27271d064bc9ef8e8a2a1d

[2017-08-18 13:47] joaomneto commented on #52
In gitlab by @joao.m.neto on Aug 3, 2017, 15:42

I have merged your code into master. I deleted the source branch, as I usually do, but mainly because I had to change the java source directories in order to make the Espresso tests work, so if you want to do some more fixes or patches you need to start a new branch from master.

Anyway, thank you very much for the contribution. I know it was morose

[2017-08-18 13:47] joaomneto commented on #52
In gitlab by @joao.m.neto on Aug 3, 2017, 15:57

mentioned in commit 833661114cfee86a5c27271d064bc9ef8e8a2a1d

[2017-08-18 13:47] #52 closed

[2017-08-18 13:47] joaomneto opened #53 "Crash in Caverns of the snow witch"
In gitlab by @sebhz on Jul 18, 2017, 09:13

Create a new adventure for "Caverns of the snow Witch". The "Provisions" field reads as "null", with a "+" and "-" button on each side of the label. click on + or -, the application crashes. Looks like the + and - button try and do arithmetics on a null field :-)
If provisions are not active in the adventure, the "Provisions" field should not be displaye

[2017-08-18 13:47] joaomneto commented on #53
In gitlab by @sebhz on Jul 18, 2017, 09:14

changed the description

[2017-08-18 13:47] joaomneto commented on #53
In gitlab by @joao.m.neto on Jul 26, 2017, 14:53

Thanks for reporting this. As luck would have it I detected this issue and I fixed it on the last update.

[2017-08-18 13:47] #53 closed

[2017-08-18 13:53] joaomneto opened #54 "Place holder issue for issue which does not exist probably deleted in Gitlab"
This is to ensure the issue ids in Gitlab and GitHub are the same

[2017-08-18 13:53] #54 closed

[2017-08-18 13:53] joaomneto opened #55 "Fix Creature of Havoc combats"
In gitlab by @joao.m.neto on Jul 26, 2017, 14:52

All combat turns won end the combat in sudden death fashion

[2017-08-18 13:53] joaomneto commented on #55
In gitlab by @joao.m.neto on Jul 26, 2017, 14:52

made the issue visible to everyone

[2017-08-18 13:53] joaomneto commented on #55
In gitlab by @joao.m.neto on Aug 8, 2017, 13:01

added ~2458648 label

[2017-08-18 13:53] joaomneto commented on #55
In gitlab by @joao.m.neto on Aug 8, 2017, 13:03

added ~1567093 label

[2017-08-18 13:53] joaomneto commented on #55
In gitlab by @joao.m.neto on Aug 11, 2017, 22:28

closed

[2017-08-18 13:53] joaomneto commented on #55
In gitlab by @joao.m.neto on Aug 11, 2017, 22:28

Fixed in 0.21-beta

[2017-08-18 13:53] #55 closed

[2017-08-18 13:53] joaomneto opened #56 "Fix Space Assassin adventure creation"
In gitlab by @joao.m.neto on Aug 6, 2017, 09:41

SaAdventureCreation crashes

[2017-08-18 13:53] joaomneto commented on #56
In gitlab by @joao.m.neto on Aug 6, 2017, 09:47

changed the description

[2017-08-18 13:53] joaomneto commented on #56
In gitlab by @joao.m.neto on Aug 6, 2017, 09:47

made the issue visible to everyone

[2017-08-18 13:53] joaomneto commented on #56
In gitlab by @joao.m.neto on Aug 6, 2017, 14:51

created branch [`56-fix-space-assassin-adventure-creation`](https://gitlab.com/joao.m.neto/FFCompanion/compare/master...56-fix-space-assassin-adventure-creation)

[2017-08-18 13:53] joaomneto commented on #56
In gitlab by @joao.m.neto on Aug 8, 2017, 11:30

mentioned in merge request !17

[2017-08-18 13:53] joaomneto commented on #56
In gitlab by @joao.m.neto on Aug 8, 2017, 11:30

closed via merge request !17

[2017-08-18 13:53] joaomneto commented on #56
In gitlab by @joao.m.neto on Aug 15, 2017, 21:35

mentioned in commit 334388ff4a96f161868bb15f460df0ced1b6bce2

[2017-08-18 13:53] #56 closed

[2017-08-18 13:53] joaomneto opened #57 "ST creation crew board"
In gitlab by @joao.m.neto on Aug 6, 2017, 09:47

Fix font size in the Traveller crew stats board when creating a new adventure

https://goo.gl/photos/6q1NjX4wSfRkZNCH9

[2017-08-18 13:53] joaomneto commented on #57
In gitlab by @joao.m.neto on Aug 6, 2017, 09:48

changed title from **S{-t cré-}ation crew board** to **S{+T cre+}ation crew board**

[2017-08-18 13:53] joaomneto commented on #57
In gitlab by @joao.m.neto on Aug 8, 2017, 13:01

added ~1687697 label

[2017-08-18 13:53] joaomneto commented on #57
In gitlab by @joao.m.neto on Aug 8, 2017, 13:03

added ~1567093 label

[2017-08-18 13:53] joaomneto opened #58 "ST not translated text"
In gitlab by @joao.m.neto on Aug 6, 2017, 10:21

Add text translation for this screen

https://goo.gl/photos/wbeLEa1uXwjyCs3r7

[2017-08-18 13:53] joaomneto commented on #58
In gitlab by @joao.m.neto on Aug 8, 2017, 13:01

added ~1687697 label

[2017-08-18 13:53] joaomneto commented on #58
In gitlab by @joao.m.neto on Aug 8, 2017, 13:04

added ~1567095 label

[2017-08-18 13:53] joaomneto opened #59 "Black text in spinners"
In gitlab by @joao.m.neto on Aug 6, 2017, 11:19

Spinner text in Android 7+ is hard-coded black

https://goo.gl/photos/dYREXTgM4MY5WW6E9

[2017-08-18 13:53] joaomneto commented on #59
In gitlab by @joao.m.neto on Aug 6, 2017, 11:23

changed the description

[2017-08-18 13:53] joaomneto commented on #59
In gitlab by @joao.m.neto on Aug 8, 2017, 13:03

added ~1567093 label

[2017-08-18 13:53] joaomneto commented on #59
In gitlab by @joao.m.neto on Aug 10, 2017, 09:53

assigned to @joao.m.neto

[2017-08-18 13:53] joaomneto opened #60 "Spinner text from enum"
In gitlab by @joao.m.neto on Aug 6, 2017, 11:23

Spinner text from the enum should be the translated text not the the enum constant name

https://goo.gl/photos/dYREXTgM4MY5WW6E9

[2017-08-18 13:53] joaomneto commented on #60
In gitlab by @joao.m.neto on Aug 8, 2017, 13:03

added ~1567093 label

[2017-08-18 13:53] joaomneto commented on #60
In gitlab by @joao.m.neto on Aug 10, 2017, 09:53

assigned to @joao.m.neto

[2017-08-18 13:53] joaomneto commented on #60
In gitlab by @joao.m.neto on Aug 11, 2017, 22:27

closed

[2017-08-18 13:54] #60 closed

[2017-08-18 13:54] joaomneto opened #61 "AWF creation validation"
In gitlab by @joao.m.neto on Aug 6, 2017, 12:12

The AWF validation is not checking for the superpower

[2017-08-18 13:54] joaomneto commented on #61
In gitlab by @joao.m.neto on Aug 6, 2017, 12:12

changed title from **AWF cr{-é-}ation validation** to **AWF cr{+e+}ation validation**

[2017-08-18 13:54] joaomneto commented on #61
In gitlab by @joao.m.neto on Aug 8, 2017, 13:02

added ~2458649 label

[2017-08-18 13:54] joaomneto commented on #61
In gitlab by @joao.m.neto on Aug 8, 2017, 13:03

added ~1567093 label

[2017-08-18 13:54] joaomneto commented on #61
In gitlab by @joao.m.neto on Aug 10, 2017, 09:53

assigned to @joao.m.neto

[2017-08-18 13:54] joaomneto commented on #61
In gitlab by @joao.m.neto on Aug 10, 2017, 19:30

closed

[2017-08-18 13:54] #61 closed

[2017-08-18 17:21] joaomneto opened #62 "Refactor increase/decrease stats"
In some cases, the apps does not allow the user to restore the stats to initial levels. I still can't pinpoint the exact test case though...

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-21 18:12] sebhz commented on #58
I'll handle this when I have a moment :-)

[2017-08-21 18:19] sebhz opened #63 "Crash in ST combat"
Start a combat in ST, fill in only one value for your opponent (either skill or strength), then immediately tap OK. FFCompanion crashes.
This only occurs with ST (as far as I can tell !)

[2017-08-21 18:22] sebhz opened #64 "Layout issue in statistics fragment (French translation)"
When using French language, the "test skill" button text spans over two lines, causing the button to be bigger, and overlapping on the button above it (consume provisions) when it is present.

[2017-08-22 07:11] sebhz commented on #64
Only occurs on some books, though, not all.

[2017-08-22 08:31] joaomneto commented on #14
Merged to master

[2017-08-22 08:31] #14 closed

[2017-08-22 08:35] joaomneto opened #66 "Review translation for Midnight Rogue"
Hello Seb,

can you check the translation for the following Midnight Rogue strings?

I did it on my own just to finish the issue, but since i don't have a copy of the french book, I need you to review them if you don't mind.  :)
[code]

[https://github.com/joaomneto/TitanCompanion/blob/master/res/values-fr/strings.xml](url)

Kind Regards

[2017-08-22 08:47] joaomneto commented on #63
Created branch 63-crash-in-st-combat to fix this issue

[2017-08-22 08:47] joaomneto commented on #62
Created branch 63-crash-in-st-combat to fix this issue

[2017-08-22 08:47] joaomneto commented on #59
Created branch 63-crash-in-st-combat to fix this issue

[2017-08-22 08:47] joaomneto commented on #57
Created branch 63-crash-in-st-combat to fix this issue

[2017-08-22 11:18] sebhz commented on #66
No pb. Will do tonight. There are a couple of other issues I spotted regarding the French translation anyway, that also need fixing !

[2017-08-22 14:03] joaomneto opened #67 "Add sort to inventory list"
Add sort to inventory list

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-22 22:05] sebhz commented on #66
Done. Though the translation is pretty farfetched, it is following exactly the French book translation !

[2017-08-22 22:05] #66 closed

[2017-08-22 22:06] sebhz opened #69 "Crash in Midnight Rogue"
Create a Midnight Rogue adventure, start itand move the the combat fragment. FFCompanion crashes in mid move.

[2017-08-23 15:34] joaomneto commented on #69
Fixed in 0.28-beta

[2017-08-23 15:34] #69 closed

[2017-08-23 15:34] joaomneto commented on #63
Fixed in 0.28-beta

[2017-08-23 15:34] #63 closed

[2017-08-23 15:34] joaomneto commented on #59
Fixed in 0.28-beta

[2017-08-23 15:34] #59 closed

[2017-08-23 20:11] sebhz opened #72 "Various French translation problems"
SA and TROK translation is crappy.
Other books suffer minor pb.

[2017-08-23 20:35] sebhz opened #73 "Potions can be used indefinitely"
Most books rules state that each potion (skill, stamina, luck) has only two doses. Yet FFCompanion allows to use them indefinitely. Implementing a counter and deactivating the "Use XXX potion" button after 2 uses is probably easy (I did not check yet if this was already done), but we would also need to save/load the number of remaining potions when saving/loading a game.

Tested on 0.28-beta

[2017-08-23 20:40] sebhz opened #74 "Empty spell fragment in SS and TOT"
When playing SS and TOT the Spells fragment only shows an empty black screen. No spinner anymore like in previous versions.

Tested on 0.28-beta,on a Galaxy A1 phone (Android 6.0.1)

[2017-08-23 20:44] sebhz opened #75 "Problems with vehicle equipment fragment in FF"
Start a fresh FF game, then navigate to the Equipment/Enhancement Fragment.

1- the fragment name is "Vehicle Combat" - it should probably be "Vehicle Equipment" or something like this
2- there is an enhancement of value "4" in the enhancement list
3- when trying to delete the enhancement, the dialog says "Delete Note"

[2017-08-23 20:48] sebhz opened #76 "Wrong initial credit value in TROK"
The TROK book (French version, I do not have access to another language) states that the player starts with 5000 credits. FFCompanion gives him 0 !

TROK French translation is really crappy also, but this will be handled by issue #72.

[2017-08-23 20:57] sebhz opened #77 "Crash in POF"
Create a new Phantoms of Fear adventure, navigate to the Spell fragment. FFCompanion crashes.
BTW, do we need a spell fragment in POF ? I never played the book but reading the rules, it seems all the spells are always available.

[2017-08-23 20:59] sebhz opened #78 "Crash in Midnight Rogue"
Create a new Midnight Rogue adventure. FFCompanion crashes.
Tested on 0.28-beta. Android 6.0.1. English language.

[2017-08-23 21:07] joaomneto commented on #77
Well, actually the only side effect for a spell is decreasing the power Stat so yeah, I think I will remove this screen.

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-23 21:10] joaomneto commented on #73
This check was already present in the code. I must have introduced a bug somewhere. Actually, I think only TWOFM gives you 2 doses.

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-24 08:01] joaomneto commented on #78
Fixed in 0.29-beta

[2017-08-24 08:01] #78 closed

[2017-08-24 08:05] joaomneto commented on #77
Fixed in 0.29-beta. Remove the spell screen.

[2017-08-24 08:05] #77 closed

[2017-08-24 08:16] joaomneto commented on #76
Fixed in 0.29-beta

[2017-08-24 08:16] #76 closed

[2017-08-24 08:39] joaomneto commented on #57
Only occurs in very small devices with less DPI so, will close for now

[2017-08-24 08:39] #57 closed

[2017-08-24 12:49] sebhz opened #79 "Loading an adventure shows an "initial full notes" savepoint"
When loading an adventure previously saved a mysterious "initial full notes" savepoint is listed in the available savepoints.

[2017-08-24 13:03] joaomneto commented on #79
It's a bit mysterious but has a reason. The purpose of that was to maintain a starting point (to restart the book) but maintaining the full list of notes in order to aid the decision making on a second or third run on the book. Maybe change the name?

[2017-08-24 13:06] joaomneto commented on #74
Fixed in 0.29-beta

[2017-08-24 13:07] #74 closed

[2017-08-24 13:45] joaomneto commented on #73
Fixed in 0.29-beta

[2017-08-24 13:45] #73 closed

[2017-08-24 13:54] joaomneto commented on #75
Fixed in 0.29-beta

[2017-08-24 13:54] #75 closed

[2017-08-24 17:43] sebhz commented on #64
Should be fixed in 0.29-beta

[2017-08-24 17:43] #64 closed

[2017-08-25 06:03] sebhz commented on #58
Will be handled as part of issue #72. Closing this one.

[2017-08-25 06:03] #58 closed

[2017-08-25 06:06] sebhz opened #80 "Missing use potion button in WOTFM"
Create a new WOTFM adventure, chosing a potion. When adventure starts, there is no "Use potion" button.
Tested in 0.29-beta. French language. Android 6.0.1.

[2017-08-25 06:08] sebhz opened #81 "Potions seem to have only one dose"
Create a new adventure with a potion (FOD for instance). Use the potion once, the "Use potion" button becomes deactivated. It should only deactivate on the second use.
Tested on 0.29-beta. French language. Android 6.0.1.

[2017-08-25 08:06] joaomneto commented on #81
In the English and Portuguese editions, only Warlock has 2 doses for the potion.

In [http://fightingfantasy.wikia.com/wiki/The_Warlock_of_Firetop_Mountain_%28book%29](http://fightingfantasy.wikia.com/wiki/The_Warlock_of_Firetop_Mountain_%28book%29)

And in Forest of Doom rules, it states:

It's different in the french version?

[2017-08-25 08:09] joaomneto commented on #80
I cant reproduce this issue. I have found out though that if you create a fresh adventure with the same name as a previous one already saved, it won't overwrite the old one, so when loading the adventure after creation you are in fact loading the old save game. This may be the cause?

Can you try by deleting all WOTFM before testing again?

[2017-08-25 08:45] sebhz commented on #80
I tried this, and still there is no potion button in WOTFM. Never mind, I'll investigate more, and fix this if it happens to be a real problem.

[2017-08-25 08:49] joaomneto commented on #80
I'll do some more testing also.

[2017-08-25 08:50] sebhz commented on #81
Yes, French version seems different.
I just checked my French version of "Caverns of the Snow-witch" (the real book), and it states "Chaque bouteille de potion contient **deux** mesures".
I checked my PDF version of Forest of Doom, and here again, the exact same wording: two measures.

I guess we can state that FFCompanion abide by English ruling then : only one measure except for WOTFM. Supportin

[2017-08-25 08:56] joaomneto commented on #81
I'll do it. It's just a question of adding to values.xml in different locales I believe!

[2017-08-25 09:35] sebhz commented on #81
Well in theory one might want to play the game in English using the French rules :-).A bit farfetched I admit...

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : João Neto <notifications@github.com>
Date : 25/08/2017  10:56  (GMT+01:00)
À : joaomneto/TitanCompanion <TitanCompanion@noreply.github.com>
Cc : Seb <seb@zyglute.fr>, State change <state_change@noreply.github.

[2017-08-25 11:21] joaomneto commented on #81
Hmm, yeah... I'm gonna sit on this for a while...

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-27 19:04] sebhz commented on #80
Can't reproduce this after recompiling the app myself. Strange...
Closing for now.

[2017-08-27 19:04] #80 closed

[2017-08-27 19:06] sebhz opened #83 "Start combat button active when no opponents are defined"
One can tap "Start Combat" even without any opponent defined. This should be forbidden by the app.

[2017-08-27 19:10] sebhz opened #84 "Missing soldiers translation in AOD"
Soldiers fragment is in English only. The "basic" types should be translated at least.

I had a look in the code and this is harder than it looks as the strings are hardcoded in the save file, so if you localize the strings, save the game, change locale and reload the game you will still get the old locale (and no real way to get around this).

Maybe the proper fix is to keep the savefile strings

[2017-08-27 19:15] sebhz opened #85 "Add support for the Sorcery ! series"
One of my all time favorite.

It is set up in the Old World of Titan, so it belongs in TitanCompanion :-)
Basically, it uses all the canonical rules, except one can play as a Sorcerer (with a 1d6+4 Skill), and there is no potion but the possibility to call upon goddess Libra once per adventure to replenish skill, stamina or lock, dispel curses ou illnesses, or when allowed in the book.

If you agr

[2017-08-27 19:20] sebhz opened #86 "Mark unsupported books"
It is a bit frustrating to try and create a game and be welcomed by a "book not supported yet" message.
However it is great to be able to go to any book information.

- In the Gamebook list, one should mark unsupported books differently (greyed out for instance), but keep them clickable)
- In the Cover view, the "Start new adventure button" should be replaced by a "Adventure not supported yet" lab

[2017-08-27 19:24] sebhz opened #87 "Crash when trying to create an unsupported adventure"
Create a new adventure, chose an unsupported book. Titan Companion crashes.
I did not like the "Book not supported" popup, but this is worse :-)

Tested on 0.30-beta. English locale. Android 6.0.1.

[2017-08-27 19:42] joaomneto commented on #86
Sounds like a excelent idea. This was one of the first features I developed
and I never refactored it.

On Sun, Aug 27, 2017, 20:20 Seb <notifications@github.com> wrote:

--

João Neto

[2017-08-27 19:44] joaomneto commented on #85
It was on my plans already. I still don't have the books. Only pdf scans.
Maybe we should prioritize the books to be added by popularity instead of
publishing order? Or else I will only get to them at the end...

On Sun, Aug 27, 2017, 20:15 Seb <notifications@github.com> wrote:

--

João Neto

[2017-08-27 19:44] joaomneto commented on #83
You're right. I'll fix this.

On Sun, Aug 27, 2017, 20:06 Seb <notifications@github.com> wrote:

--

João Neto

[2017-08-27 19:46] joaomneto commented on #84
Or we can have two separate string lists for the basic types and the custom
ones. Speaking of savegame files, I really wanted to re implement the whole
savegame feature in JSON. Maybe I should create a ticket for this also.

On Sun, Aug 27, 2017, 20:10 Seb <notifications@github.com> wrote:

--

João Neto

[2017-08-27 20:03] sebhz commented on #85
I have the books (French version only I m afraid).And I really like the idea of prioritizing the order. Apart from Sorcery ! I have fond memories of Vault of the Vampire which is far away in the list !

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : João Neto <notifications@github.com>
Date : 27/08/2017  21:44  (GMT+01:00)
À : joaomneto/TitanCompanion <TitanCompanion@

[2017-08-27 20:05] sebhz commented on #84
JSON sounds good. A bit overkill maybe but at least standard !

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : João Neto <notifications@github.com>
Date : 27/08/2017  21:47  (GMT+01:00)
À : joaomneto/TitanCompanion <TitanCompanion@noreply.github.com>
Cc : Seb <seb@zyglute.fr>, Assign <assign@noreply.github.com>
Objet : Re: [joaomneto/TitanCompanion] Missing soldiers t

[2017-08-27 20:06] joaomneto commented on #85
After Star Strider I only read tower of destruction and crimson tide. I'll
push the vampire ones next and Sorcery. Well figure the rest afterwards.

On Sun, Aug 27, 2017, 21:03 Seb <notifications@github.com> wrote:

--

João Neto

[2017-08-28 19:48] sebhz commented on #84
Losing my way in the multiple layers of save/restore and adapter. Better you handle it :-)

[2017-08-28 20:22] sebhz commented on #87
Logcat says :

[code]

Per https://stackoverflow.com/questions/45604099/rxjavaplugins-error-didnt-find-class-com-google-devtools-build-android-desugar/45609518#45609518 this seems to be a problem with Android Studio.
Upgrading to 3.0-beta2 fixed it for me. According to stackoverflow, beta3 broke it again (but I did not check)

[2017-08-28 20:25] joaomneto commented on #84
Sure! I'll take care of it! Should've commented the code. 😆

_Sent from my OnePlus ONEPLUS A3003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-28 20:27] sebhz commented on #84
Actually I think I managed to work my way around it eventually. I'll make some more checks and will issue a pull request, probably tomorrow !

[2017-08-28 20:29] joaomneto commented on #87
I just found this issue also when creating espresso testing. It's a missing class. I'm going to add it to the master branch ASAP and it should fix the problem for all versions of Android Studio. However it is merely hiding an exception. There's still an error to be fixed there... I'm adding the project do CircleCI in order to perform continuous integration running a batch of espresso tests, hopefu

[2017-08-28 20:31] sebhz commented on #84
Forget it, still not working. I throw the towel !

[2017-08-31 08:29] joaomneto commented on #81
In the activity creation I will add a pre-filled switch field enabling the user to change between one or two doses of potion. This gives the player a maximum of flexibility without letting him cheat.

[2017-09-07 08:05] joaomneto commented on #87
Fixed by adding a code path to the app with the missing class. To be removed in the future as Android Studio goes to full production in v3.0

[2017-09-07 08:05] #87 closed

[2017-09-08 06:47] #72 closed

[2017-09-11 09:45] joaomneto commented on #81
I've added a pre-filled spinner to the adventure creation screen. The reader has the ability to change it from one to two doses and vice versa. It is auto filled with two doses for the french locale and only for TWOFM in the other locales

[2017-09-11 15:13] #81 closed

[2017-09-11 15:13] #86 closed

[2017-09-13 07:20] joaomneto commented on #84
Hi Seb, can you confirm to me the translation for the standard army types in french:

    <string name="warriors">Guerriers</string>
    <string name="knights">Chevaliers</string>
    <string name="dwarves">Nains</string>
    <string name="elves">Elfes</string>

Thanks!

[2017-09-13 18:13] sebhz commented on #84
100% correct. Great translation. I have been a bit busy at work those days and did not have much time for TitanCompanion. I 'll try and get a bit more involved in the coming days.

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : João Neto <notifications@github.com>
Date : 13/09/2017  09:20  (GMT+01:00)
À : joaomneto/TitanCompanion <TitanCompanion@noreply.github.com>
Cc

[2017-09-13 18:20] joaomneto commented on #84
No problem Seb. This is hardly a job, hehe. I've been setting up a jenkins server for CI with automated testing. As soon as its ok ill give you access also.

[2017-09-30 08:00] #84 closed

[2017-09-30 10:02] joaomneto opened #99 "TROK gunfigh combat broken"
TROK gunfigh combat broken

[2017-11-19 11:25] #15 closed

[2017-11-19 11:25] #16 closed

[2017-11-19 11:25] #19 closed

[2017-11-19 11:25] #22 closed

[2017-12-02 21:38] #18 closed

[2017-12-02 21:42] joaomneto commented on #85
Hey Seb. I'm gonna pick this up. If you're interested, you can still do it. I'm going to do some refactoring for now. If you don't have time I'll gladly do-it. I have an idea do incorporate the spell book in the app. :)

[2017-12-03 07:04] sebhz commented on #85
Sorry no time for now.I'll find a moment for a translation if the spell names do not match (though I doubt it), but it's all yours !I will also redo a couple of "user testing" this week and see if I fibd new bugs

Envoyé depuis mon appareil Samsung

-------- Message d'origine --------
De : João Neto <notifications@github.com>
Date : 02/12/2017  22:42  (GMT+01:00)
À : joaomneto/TitanCompanion <Tita

[2018-04-29 20:43] JoeTac opened #122 "Starship Traveller Combat Issue"
I am reading starship traveller, and when in combat section of the app, it crashes from what I can tell, randomly when I press combat turn. Although, I am suspecting this is when I lose the combat turn.

[2018-05-13 17:06] joaomneto commented on #122
Sorry about that. I've fixed the issue along with other bugs. You can update from the Play Store.

Thanks for the report!

[2018-05-15 12:43] Poussinou opened #136 "Inclusion in F-Droid"
Hi,

Since this app is LGPLv3 licensed, are you considering the fact to add it to [F-Droid](https://f-droid.org/)? There is a strong community behind, that do not use Google Play nor anything else, except F-Droid.

You can find some documentation [here](https://f-droid.org/docs/).

Otherwise, if you don't want to work on the inclusion of this app by yourself, would it be ok for you if someone else

[2018-05-15 13:07] joaomneto commented on #136
It's an excellent idea. I always forget F-Droid. Are you aware of an
automated release procedure to do so?

On Tue, May 15, 2018, 13:43 Poussinou <notifications@github.com> wrote:

--

João Neto

[2018-05-15 15:28] Poussinou commented on #136
There isn't really an automated procedure to release an app on F-Droid. First, I opened a [Request For Packaging](https://gitlab.com/fdroid/rfp/issues/578).

The best way to have it included ASAP is to install the fdroid server tools on your computer(doc [here](https://f-droid.org/docs/)), to write the small "[build metadata reference](https://f-droid.org/docs/Build_Metadata_Reference/)" ([here](h

[2018-05-15 15:31] joaomneto commented on #136
All the dependencies are open-source:

[code]

The only thing that is not open and I do not own is some book covers that are included as low res jpegs.

[2018-05-15 21:33] Poussinou opened #138 "License"
A question, just to be sure. Is this repo under LGPL v3 license or GPL v3 license?

The license file is LGPL v3, but you wrote GPL v3 in the commit description changing the license from MIT to something else.

#136

[2018-05-15 21:39] Poussinou commented on #136
Oops sorry, I just read `play` in this line `com.github.triplet.gradle:play-publisher:1.1.5` . I tough it was in relation with google play, which is something that's often problematic (didn't notice the word `github`)

The book covers as low res jpegs should be ok.

The inclusion of this app should be pretty easy, I'll have a look this week.

[2018-05-16 07:50] joaomneto commented on #138
It is definitely LGPL. The commit is wrong. Thanks for noticing. I will fix it. :)

[2018-05-16 12:33] Poussinou commented on #138
No problem ;)

[2018-05-16 12:33] #138 closed

[2018-06-02 13:30] #136 closed

[2020-08-02 09:44] Sandman1973 opened #167 "Landscape support"
Would it be possible to support a landscape layout for this app? The app starts in landscape while picking an adventure and rotates when an adventure is actually started. Perhaps this could be a two column layout?